<nav>
  <div class="nav-wrapper purple lighten-1">
      <a class="waves-effect waves-light secondary-text flow-text" (click)="goToRegisteredUserMenu()">* UTN GAMES</a>
    <a href="#" class="brand-logo anagrama center flow-text tiza-text">MEMOTEST</a>
  </div>
</nav>
<div class="container">
  <div class="row">

    <div *ngFor="let color of game.colors;let i = index" class="col s3 tile-container">
      <div class="card tile cover hoverable" (click)="showColor(i,color)" id="{{i}}">
        <div class="card-content white-text">
        </div>
      </div>
    </div>
    <div class="col s12">
      <ul class="collection with-header z-depth-2">
        <li class="collection-header">
          <h5 class="flow-text center-align">Tiempo disponible: {{game.timer.timeLeft}} segundos</h5>
        </li>
      </ul>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modalMemo" class="modal">
    <div class="modal-content">
      <h4 class="center-align">{{result}}</h4>
      <p class="center-align">PUNTAJE: {{game.score}}</p>
    </div>
    <div class="row">
      <div class="col s6">
        <button class="modal-action modal-close waves-effect waves-light btn cyan flow-text full" (click)="playAgain()">Volver a jugar</button>
      </div>
      <div class="col s6">
        <button class="modal-action modal-close waves-effect waves-light btn blue flow-text full" (click)="goToRegisteredUserMenu()">Salir</button>
      </div>
    </div>
  </div>