<div class="container">
  <div class="col s12 m7">

    <div class="card horizontal hoverable z-depth-5">

      <div class="card-stacked">
        <div class="card-content">
          <h2 class="card-header center-align">Acerca de éste sitio</h2>
          <p>Ésta página contiene varios juegos ocasionales. Para jugar, sólo hace falta registrarse como usuario. Ningún datos
            personal será requerido. El registro es a fin de guardar tus máximas puntuaciones.</p>
        </div>
        <h4 class="card-header center-align">Desarrollador</h4>
        <div class="card-action black">
          <div class="row valign-wrapper" >
            <div class="col s2">
              <img src="assets/img/me.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s10">
              <span class="white-text">
                Nicolás Cabrera <a href="https://github.com/NicoCabrera"> - GitHub - </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>