<nav class="hide-on-med-and-up">
  <div class="nav-wrapper yellow darken-2">
    <a class="waves-effect waves-light secondary-text flow-text" (click)="goToRegisteredUserMenu()">* UTN GAMES</a>
  </div>
</nav>
<nav class="hide-on-small-only">
  <div class="nav-wrapper yellow darken-2">
    <a class="waves-effect waves-light secondary-text flow-text" (click)="goToRegisteredUserMenu()">* UTN GAMES</a>
    <a href="#" class="brand-logo anagrama right flow-text tiza-text">AGILIDAD ARITMETICA</a>
  </div>
</nav>
<div class="container">
  <div class="row pizarra">
    <div class="col s12">
      <h1 class="center-align flow-text grey-text text-lighten-5 tiza-text">
        {{game.calculation}}
      </h1>
    </div>
    <div class="col s4 offset-s4">
      <div class="input-field grey-text text-lighten-5 tiza-text">
        <input id="userWord" type="number" [(ngModel)]="game.userAnswer" class="center-align">
        <label for="word" class="tiza-text grey-text text-lighten-5">RESPUESTA</label>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col s12">
      <button class="waves-effect waves-light btn grey accent-3 full-size tiza-text" (click)="validateAnswer()">Enviar Respuesta</button>
    </div>
  </div>
  <div class="row">
    <div class="col s4"></div>
    <div class="col s4 crono-container">
      <img src="assets/img/temporizadorLimpio.jpg" class="responsive-img">
      <div class="crono flow-text digital-text">
        {{game.timer.timeLeft}}
      </div>
    </div>
    <div class="col s4"></div>
  </div>
</div>
<!-- Modal Structure -->
<div id="modalMathChallenge" class="modal bottom-sheet">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <h4 class="center-align text-jungla">{{result}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h4 class="center-align text-jungla flow-text">PUNTAJE: {{game.score}}</h4>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s4 offset-s4">
        <a class="btn modal-action modal-close waves-effect waves-light green accent-4 full-size" (click)="playAgain()">JUGAR</a>
        <a class="btn modal-action modal-close waves-effect waves-light red accent-3 full-size" (click)="goToRegisteredUserMenu()">SALIR</a>
      </div>
    </div>
  </div>
</div>