<nav class="hide-on-med-and-up">
  <div class="nav-wrapper black">
    <a class="waves-effect waves-light secondary-text flow-text" (click)="goToRegisteredUserMenu()">* UTN GAMES</a>
    <a href="#" class="brand-logo anagrama center flow-text tiza-text"></a>
  </div>
</nav>
<nav class="hide-on-small-only">
  <div class="nav-wrapper black">
      <a class="waves-effect waves-light secondary-text flow-text" (click)="goToRegisteredUserMenu()">* UTN GAMES</a>
    <a href="#" class="brand-logo anagrama right flow-text tiza-text">PIEDRA PAPEL O TIJERA</a>
  </div>
</nav>
<div class="container">

  <div class="row ring">
    <div class="col s6">
      <img [src]="imageForUserValue" alt="piedra" class="responsive-img" id="userimg">
    </div>
    <div class="col s6">
      <img [src]="imageForPCValue" alt="piedra" class="responsive-img" id="pcimg">
    </div>
    <button class="waves-effect waves-light btn blue darken-3 full-size" (click)="play()">Jugar</button>
  </div>
  <div class="row">
    <div class="col s8">
      <a class="btn-floating btn-large tooltipped waves-effect waves-light red" data-delay="700" data-tooltip="Piedra" (click)="setImageForUserValue(0)">
        <i class="material-icons">brightness_1</i>
      </a>
      <a class="btn-floating btn-large tooltipped waves-effect waves-light blue" data-delay="700" data-tooltip="Papel" (click)="setImageForUserValue(1)">
        <i class="material-icons">insert_drive_file</i>
      </a>
      <a class="btn-floating btn-large tooltipped waves-effect waves-light green" data-delay="700" data-tooltip="Tijera" (click)="setImageForUserValue(2)">
        <i class="material-icons">content_cut</i>
      </a>
    </div>
    <ul class="collection">
      <li class="collection-item green white-text center-align">Ganadas: {{game.partialWins}}</li>
      <li class="collection-item red white-text center-align">Perdidas: {{game.partialLoses}}</li>
    </ul>
  </div>
</div>

<!-- Modal Structure -->
<div id="modalRockPaperScissors" class="modal">
    <div class="modal-content">
      <h4 class="center-align">{{result}}</h4>
    </div>
    <div class="row">
      <div class="col s6">
        <button class="modal-action modal-close waves-effect waves-light btn cyan flow-text full-size" (click)="playAgain()">Volver a jugar</button>
      </div>
      <div class="col s6">
        <button class="modal-action modal-close waves-effect waves-light btn blue flow-text full-size" (click)="goToRegisteredUserMenu()">Salir</button>
      </div>
    </div>
  </div>