<nav>
  <div class="nav-wrapper deep-purple lighten-1 z-depth-4">
    <a class="secondary-text flow-text waves-effect waves-light button-collapse show-on-large" data-activates="slide-out">* UTN GAMES</a>
    <ul class="right">
      <li>
        <a class='waves-effect waves-light deep-purple lighten-1 right secondary-text flow-text' (click)="logOut()">Salir</a>
      </li>
    </ul>

  </div>
</nav>
<router-outlet></router-outlet>
<!--Side nav -->
<ul id="slide-out" class="side-nav">
  <li>
    <div class="user-view">
      <div class="background deep-purple">
      </div>
      <a>
        <i class="large material-icons white-text">account_circle</i>
      </a>
      <a>
        <span class="white-text name">Usuario: {{username}}</span>
      </a>
      <a>
        <span class="white-text email">{{email}}</span>
      </a>
    </div>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="subheader">Ver</a>
  </li>
  <li>
    <a class="waves-effect" routerLink="/registered-users/list-of-games">Listado de juegos</a>
  </li>
  <li>
    <a class="waves-effect" routerLink="/registered-users/scores">Ultimas Puntuaciones</a>
  </li>
</ul>