.full-size{
    width: 100%;
}
.word2g{
    font-size: 5em;
}
@font-face{
    font-family: jungla;
    src: url("../../../assets/fonts/jungla.ttf");
}
.jungla{
    background-image: url("../../../assets/img/fondo-jungla.jpg");
    
}
.text-jungla{
    font-family: jungla;
}

@font-face{
    font-family: anagrama;
    src: url("../../../assets/fonts/anagrama.ttf");
}

.anagrama{
    font-family: anagrama;
}
.anagrama-jungla{
    height: 120px;
    background-image: url("../../../assets/img/fondo-jungla.jpg");
    line-height: 5px;
}