<nav>
    <div class="nav-wrapper green">
        <a href="#" class="brand-logo anagrama right">ANAGRAMA</a>
    </div>
</nav>
<div class="row hide-on-small-only">
    <div [class]="subtitleMDcol">
        <h1 [class]="subtitleMDtext">QUE ANIMALES VIVEN EN LA SELVA ?</h1>
    </div>
</div>
<div class="row anagrama-jungla hide-on-med-and-up">
    <div class="col s12 jungla white-text">
        <h1 class="flow-text center-align text-jungla">QUE ANIMALES</h1>
        <h1 class="flow-text center-align text-jungla">VIVEN EN LA SELVA ?</h1>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col s12">
            <p class="flow-text center-align anagrama">{{game.shuffledWord}}</p>
            <div class="input-field">
                <input id="userWord" type="text" [(ngModel)]="game.wordUser">
                <label for="word">Ingrese la palabra correcta</label>
            </div>
            <div class="col m6">
                <a class="waves-effect waves-light btn hide-on-small-only green accent-4 full-size" (click)="validateAnswer()">
                    <i class="material-icons left">done</i>Aceptar</a>
            </div>
            <div class="col m6">
                <a class="waves-effect waves-light btn hide-on-small-only red accent-2 full-size" (click)="cleanAnswer()">
                    <i class="material-icons left">keyboard_arrow_left</i>Borrar</a>
            </div>

            <a class="waves-effect waves-light btn hide-on-med-and-up full-size green accent-4" (click)="validateAnswer()">Aceptar</a>
            <a class="waves-effect waves-light btn hide-on-med-and-up full-size red accent-2" (click)="cleanAnswer()">Borrar</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 center-align">
        <h3 class="flow-text center-align anagrama">{{game.startMessage}}</h3>
        <a id="btnStart" class="btn-floating btn-large waves-effect waves-light red accent-3 pulse" (click)="startOnClick()">
            <i class="material-icons">play_arrow</i>
        </a>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4 center-align">
            <a id="pulse-timer" class="btn-floating btn-large waves-effect waves-light red accent-3 pulse btnTimer" (click)="startOnClick()">
                {{game.timer.timeLeft}}
            </a>
        </div>
        <div class="col s4"></div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <h4 class="center-align text-jungla">{{result}}</h4>
                </div>

            </div>
            <div class="row">
                <div class="col s12">
                    <h4 class="center-align text-jungla flow-text">PUNTAJE: {{game.score}}</h4>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s4 offset-s4">
                    <a href="#!" class="btn modal-action modal-close waves-effect waves-light green accent-4 full-size" (click)="playAgain()">JUGAR</a>
                    <a href="/" class="btn modal-action modal-close waves-effect waves-light red accent-3 full-size">SALIR</a>
                </div>
            </div>
        </div>
    </div>