<nav>
  <div class="nav-wrapper deep-purple lighten-1 z-depth-4">
    <a href="#" class="brand-logo secondary-text">* UTN GAMES</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="#modal1" class="secondary-text flow-text modal-trigger">Ingresar</a>
      </li>
      <li>
        <a href="#modal1" class="secondary-text flow-text modal-trigger">Registrarse</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 class="ppal-text center-align">JUEGOS ONLINE GRATIS</h1>
    </div>
  </div>
  <!-- med and up -->
  <div class="row hide-on-small-only">
    <div class="col m12">
      <div class="carousel carousel-slider">
        <a class="carousel-item" href="#">
          <img src="assets/img/mini-anagrama.jpg">
        </a>
        <a class="carousel-item" href="#">
          <img src="assets/img/mini-adivina.jpg">
        </a>
        <a class="carousel-item" href="#">
          <img src="assets/img/mini-ppt.jpg">
        </a>
        <a class="carousel-item" href="#">
          <img src="assets/img/mini-agilidad.jpg">
        </a>
        <a class="carousel-item" href="#">
          <img src="assets/img/mini-memo.jpg">
        </a>
      </div>
    </div>
  </div>

  <!-- only small devices -->
  <div class="row hide-on-med-and-up">
    <div class="col s6">
      <img class="materialboxed responsive-img right ppal-text" data-caption="Ordena las letras y forma la palabra" width="250"
        src="assets/img/mini-anagrama.jpg">
    </div>
    <div class="col s6">
      <img class="materialboxed responsive-img" data-caption="Adivina un número del 1 a 10" width="250" src="assets/img/mini-adivina.jpg">
    </div>
  </div>
  <div class="row hide-on-med-and-up">
    <div class="col s6">
      <img class="materialboxed responsive-img right" data-caption="Clásico piedra papel o tijera" width="250" src="assets/img/mini-ppt.jpg">
    </div>
    <div class="col s6">
      <img class="materialboxed responsive-img" data-caption="Desafío Aritmético" width="250" src="assets/img/mini-agilidad.jpg">
    </div>
  </div>
  <div class="row hide-on-med-and-up">
    <div class="col s6">
      <img class="materialboxed responsive-img right" data-caption="Memoriza colores y posiciones" width="250" src="assets/img/mini-memo.jpg">
    </div>
  </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content bordered-modal">
    <div class="row">
      <form class="col s12" [formGroup]="loginForm">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate" formControlName="name">
            <label for="icon_prefix">Nombre de Usuario</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="icon_telephone" type="email" class="validate" formControlName="email">
            <label for="icon_telephone">Correo</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="icon_telephone" type="password" class="validate" formControlName="password">
            <label for="icon_telephone">Contraseña</label>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <a class="waves-effect waves-light btn deep-purple lighten-1" (click)="validateUser()">Iniciar Sesión</a>
      </div>
    </div>
  </div>
</div>